<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
  <div th:fragment="header">
    <div sec:authorize="hasAnyRole('ADMIN', 'USER')">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
          <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href=""> <i
            class="fa-brands fa-pied-piper"
            style="font-size: 2em; color: greenyellow;"></i>
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01"
            style="justify-content: space-between;">
            <ul th:if="${loginUser.type == '0'}"
              class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link"
                th:href="@{/post/list}">Home </a></li>
            </ul>
            <ul th:if="${loginUser.type == '0'}" class="navbar-nav ">
              <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
              <li class="nav-item dropdown"><a href="#"
                class="nav-link dropdown-toggle" id="navDropDownLink"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fa-solid fa-user"></i>
                  [[ ${loginUser.username } ]] </a>
                <div class="dropdown-menu"
                  aria-labelledby="navDropDownLink">
                  <a class="dropdown-item"
                    th:href="@{/user/profile}">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div></li>
            </ul>
            <ul th:unless="${loginUser.type == '0'}"
              class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link"
                href="">Home </a></li>
              <li class="nav-item active"><a class="nav-link"
                th:href="@{/post/list}">Posts </a></li>
              <li class="nav-item active"><a class="nav-link"
                th:href="@{/category/list}"> Category </a></li>
              <li class="nav-item active"><a class="nav-link"
                th:href="@{/user/list}"> Users </a></li>
            </ul>
            <!-- <form id="searchForm" class="form-inline my-2 my-lg-0">
							                <input class="form-control mr-sm-2" type="search"
							                  placeholder="Search" aria-label="Search">
							                <button class="btn btn-outline-success my-2 my-sm-0"
							                  type="submit">Search</button>
							              </form> -->
            <ul th:unless="${loginUser.type == '0'}" class="navbar-nav ">
              <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
              <li class="nav-item dropdown active"><a href="#"
                class="nav-link dropdown-toggle" id="navDropDownLink"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fa-solid fa-user"></i>
                  [[ ${loginUser.username } ]]</a>
                <div class="dropdown-menu"
                  aria-labelledby="navDropDownLink">
                  <a class="dropdown-item"
                    th:href="@{/user/profile}">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</body>
</html>